<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/about.css" />
		<title>About Me</title>
	</head>
	<body>
		<%-include('../views/navbar')%>
		<div class="container">
			<div class="heading">About Me</div>
			<div class="content">
				Myself Dr Himadri Saha feels proud to be associated with the noble
				profession of teaching in agricultural education in the State University
				of Bidhan Chandra Krishi Vishwavidyalaya for the last 23 years. I did my
				Ph. D. degree in Agricultural Chemistry and Soil Science. I feel highly
				privileged to be engaged in the dynamic relationship with my beloved
				students.<br />Apart from teaching, I love to write poems and serious
				articles mainly in Bengali. So far one bengali poem book of mine, namely
				" Aakul Briksha" has been published. Others are awaiting in near future.
			</div>
		</div>
		<%-include('../views/footer')%>
	</body>
</html>
