<link rel="stylesheet" href="/footer.css" />
<div class="footer">
	<div class="copyright">
		<i class="far fa-copyright"></i>
		HimadriSaha
	</div>
	<div class="facebook">
		Follow on
		<span
			class="social fb"
			onclick="window.open(`https://www.facebook.com/people/Himadri-Saha/100012145607257/`)"
			><i class="fab fa-facebook"></i
		></span>
	</div>
</div>
