<link rel="stylesheet" href="/navbar.css" />
<div class="navbar">
	<div class="left" onclick="location.assign('/')">
		<div class="nav-logo">
			<i class="fas fa-book"></i>
		</div>
		<div class="nav-text">Aakul Briksha</div>
	</div>
</div>
