<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/about.css" />
		<title>Refund</title>
	</head>
	<body>
		<%-include('../views/navbar')%>
		<div class="container">
			<div class="heading">Refund Policy</div>
			<div class="text">
				<div class="para p1">
					Once you have made the necessary payments, there will be no refunds
					made. In case of product damage,
					<span class="contact" onclick="document.location.assign('/contact')"
						>contact us</span
					>. We will take the necessary steps required.
				</div>
			</div>
		</div>
		<%-include('../views/footer')%>
	</body>
</html>
