<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/11d589870a.js"
			crossorigin="anonymous"
		></script>
		<link rel="shortcut icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/success.css" />
		<title>Success</title>
	</head>
	<body>
		<%-include('../views/navbar')%>
		<div class="container">
			<div class="success-logo"></div>
			<div class="success-text">Order Placed</div>
		</div>
		<%-include('../views/footer')%>
	</body>
</html>
